
@{
    ViewBag.Title = "گزارشات";
    Layout = "~/Views/Shared/_layout.cshtml";
}




<div class="container dailyContainer indexDiv">
    <a class="btn btn-info float-right" href="~/Home/Index" role="button">صفحه اصلی</a>
    <div class="row margTop5">



        <div class="col-sm-4 margTop5">
            <a class="btn btn-info indexLinks1" href="~/ReportTotal/Index" role="button">موجودی کل</a>
        </div>
        <div class="col-sm-4 margTop5">
            <a class="btn btn-info indexLinks1" href="~/ReportEntry/Index" role="button">گزارش ورود</a>
        </div>
        <div class="col-sm-4 margTop5">
            <a class="btn btn-info indexLinks1" href="~/ReportExitOrder/Index" role="button">گزارش بارگیری</a>
        </div>


        <div class="col-sm-6 margTop5">
            <a class="btn btn-info indexLinks2" href="~/ReportExit/Index" role="button">گزارش خروج</a>
        </div>
        <div class="col-sm-6 margTop5">
            <a class="btn btn-info indexLinks2" href="~/ReportdenotativeStore/Index" role="button">موجودی تفکیکی</a>
        </div>

    </div>
</div>
