
@{
    ViewBag.Title = "کوپ";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1 style="float:right">@ViewBag.Title</h1>


<div class="container depotsContainer">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary homePageBtn" href="~/Home/Index" role="button">صفحه اصلی</a>
            <a class="btn btn-primary homePageBtn margRight2" href="~/Definitions/Index" role="button">بازگشت</a>
        </div>
    </div>

    <div class="row depotsRow1">
        <div class="col-sm-6 divCol">

            <div class="userForm">
                <div class="form-group divSignIn">
                    <label class="Name" for="Name">نوع کوپ</label>
                    <input type="text" id="Name" class="form-control" name="stone">
                </div>
                <div class="form-group">
                    <button onclick="mgndata()" class="btn btn-primary saveBtnDepots">ذخیره</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 divCol">
            <label class="listLable">انواع کوپ</label>
            <table class="table table-info table-striped userTable width100">
                <tbody id="tbody"></tbody>
            </table>

        </div>
    </div>
</div>




@section localscript{


    <script>

        var ListData = [];

        window.onload = load();
        function load() {
            GetData();
        }

        function GetData() {
            $.ajax({
                url: '/Cops/GetData',
                data: null,
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },
                success: function (data) {

                    $(LoadingGift).hide();

                    var str = "<tr><td>نام معدن</td><td>عملیات</td></tr>";
                    for (var i in data) {
                        ListData = data;

                        str += '<tr>';
                        str += '<td>' + data[i].Name + '</td>';
                        str += '<td><button onclick="Removedata(' + data[i].Id + ')" class="btn btn-danger fa fa-trash"></button><button onclick="Editdata(' + data[i].Id + ')"   class="btn btn-primary fa fa-pencil"></button></td>';

                        str += '</tr>';

                    }
                    tbody.innerHTML = str;


                }
            });
        }


    </script>

    <script>
        function mdata(Id, Name) {
            this.Id = Id;
            this.Name = Name;
        }

        var _mdata = new mdata(0, "");
    </script>

    <script>
        function Removedata(id) {



            $(modaldeletedata).modal('show');
            $(btnConfirmDelete).click(function () {

                $.ajax({
                    url: '/Cops/Deletedata',
                    data: { id: id },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },
                    success: function (data) {


                        $(LoadingGift).hide();
                        $(modaldeletedata).modal('hide');
                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        $(modalAlertInAjax).modal("show");
                        setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {
                            GetData();

                        });
                    }
                });
            });
        }


        function Editdata(id) {
            for (var i in ListData) {
                if (ListData[i].Id == id) {
                    Name.value = ListData[i].Name;
                    _mdata.Id = ListData[i].Id;
                }
            }
        }
    </script>




    <script>

        function mgndata() {
            if (Name.value == 0) {
                AlertInAjax("تمامی اطلاعات را وارد نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");

                return;
            }
            else {


                _mdata.Name = Name.value;


                $.ajax({
                    url: '/Cops/mgndata',
                    data: { _mdata: _mdata },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },
                    error: function (data) {
                        $(LoadingGift).hide();
                        if (data.status == 510) {
                            AlertInAjax("اطلاعات تکراری است", modalAlertInAjax, "alert-danger");
                            $(modalAlertInAjax).modal("show");

                            return;
                        }
                    },
                    success: function (data) {


                        $(LoadingGift).hide();

                        AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                        _mdata.Id = 0;
                        Name.value = "";
                        $(modalAlertInAjax).modal("show");
                        setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                        $(modalAlertInAjax).on("hidden.bs.modal", function () {
                            GetData();

                        });
                    }
                });

            }
        }

    </script>
}
