
@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="container dailyContainer indexDiv">

    <div class="row margTop5">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <a class="btn btn-info btn-block" href="~/Definitions/Index" role="button">تعاریف</a>

            </div>
            <div class="col-sm-6">
                <a class="btn btn-info btn-block" href="~/RecordEntry/Index" role="button">ثبت ورودی</a>

            </div>
            <div class="col-sm-6 margTop2">
                <a class="btn btn-info btn-block" href="~/CopeReserve/Index" role="button">رزرو کوپ</a>

            </div>
            <div class="col-sm-6 margTop2">
                <a class="btn btn-info btn-block" href="~/ExitOrder/Index" role="button">دستور خروج</a>

            </div>
            <div class="col-sm-6 margTop2">
                <a class="btn btn-info btn-block" href="~/Confirmation/Index" role="button">منتظر تایید</a>

            </div>
            <div class="col-sm-6 margTop2">
                <a class="btn btn-info btn-block" href="~/Report/Index" role="button">گزارشات</a>

            </div>
            <div class="col-sm-6 margTop2">
                <a class="btn btn-info btn-block" href="~/Users/Index" role="button">کاربران</a>

            </div>
            <div class="col-sm-6 margTop2">
                <a class="btn btn-info btn-block" href="~/exitRequests/Index" role="button">مشاهده درخواست های خروج</a>

            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>

   
</div>
