
@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1>@ViewBag.Title</h1>

<div class="container dailyContainer indexDiv">
    <div class="row margTop5">
        <div class="col">
            <a class="btn btn-info indexLinks1" href="~/Definitions/Index" role="button">تعاریف</a>
        </div>
        <div class="col">
            <a class="btn btn-info indexLinks1" href="~/RecordEntry/Index" role="button">ثبت ورودی</a>
        </div>

        <div class="col">
            <a class="btn btn-info indexLinks1" href="~/CopeReserve/Index" role="button">رزرو کوپ</a>
        </div>
    </div>

    <div class="row margTop5">
        <div class="col">
            <a class="btn btn-info indexLinks2" href="~/ExitOrder/Index" role="button">دستور خروج</a>
        </div>

        <div class="col">
            <a class="btn btn-info indexLinks2" href="~/Confirmation/Index" role="button">منتظر تایید</a>
        </div>
        <div class="col">
            <a class="btn btn-info indexLinks2" href="~/Report/Index" role="button">گزارشات</a>
        </div>
    </div>

    <div class="row margTop5">
        <div class="col">
            <a class="btn btn-info requestsLink" href="~/Users/Index" role="button">کاربران</a>
        </div>
        <div class="col">
            <a class="btn btn-info requestsLink" href="~/exitRequests/Index" role="button">مشاهده درخواست های خروج</a>
        </div>
    </div>
</div>
