
@{
    ViewBag.Title = "ثبت رزرو کوپ";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container dailyCol">
    <div class="row dailyRow">
        <div class="col dailyLDiv">
            <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">بازگشت</a>
            <br>
            <label class="buyerLable">مشخصات خریدار</label>
            <div class="entryForm">
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>خریدار</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control float-right" id="CustomerName">
                    </div>
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>انقضا رزرو</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control txtLeft jalali-datepicker" name="expritaion" id="dateLoad">
                    </div>
                </div>
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>انبار</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <select id="SelectStore" class="select2-placeholer form-control" data-placeholder="انتخاب" style="padding:2px 8px"></select>


                    </div>
                </div>
                <div class="row margTop1">
                    <div class="col-sm-2 col-4 rgEnLable">
                        <label>کد محصول</label>
                    </div>
                    <div class="col-sm-4 col-8">
                        <input type="text" class="form-control float-right width50 txtLeft" id="CopCods">
                        <button class="btn btn-primary  float-right" onclick="AddWithModal()">=</button>
                        <button class="btn btn-info float-right" onclick="Add()">افزودن</button>
                    </div>
                </div>
                <div class="row margTop2">
                    <div class="col">
                        <ul class="list-group rgExUl" id="listCopdata">
                        </ul>
                    </div>
                </div>
                <div class="row margTop1">
                    <div class="col">
                        <button class="btn btn-primary float-left SaveBtn" onclick="BtnRegisterCopeReserve()">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section localscript{
    <link href="~/js/Resource/css/plugins/select2/select2.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/select3/select3.css" rel="stylesheet" />

    <script src="~/js/Resource/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/Resource/js/plugins/select3/select3.full.min.js"></script>

   
    <script>
        var count = 0;

        $(document).keyup(function (event) {

            if (CustomerName.value != "" && SelectStore.value != 0) {


                if (event.keyCode == 13) {


                    if ($(".CHechBox:checked").length == 0) {


                        AlertInAjax("موردی را انتخاب نمایید", modalAlertInAjax, "alert-danger");
                        $(modalAlertInAjax).modal("show");

                        return;
                    } else {
                        if (count == 0) {
                            count = 1;
                            BtnRegisterCopeReserve();
                        }

                    }





                }
            }
        });
    </script>

    <script>
        window.onload = load();

        function load() {
         $(".select2").select2();
            $(".select2-placeholer").select2({
                allowClear: true
            });
            getStore();

        }


        function getStore() {
            $.ajax({
                url: '/RecordEntry/getStore',
                data: null,
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },
                success: function (data) {

                    $(LoadingGift).hide();


                    var str = "<option value='0'>لطفا موردی را انتخاب نمایید</option>";


                    for (var i in data) {

                        str += "<option value=" + data[i].Id + ">" + data[i].Display + "</option>";
                    }
                    SelectStore.innerHTML = str;


                }
            });

        }


    </script>

    <script>

        function ShowPic(id) {
            $.ajax({
                url: '/ReportEntry/ShowPic',
                data: { id: id },
                type: 'post',
                beforeSend: function () {
                    $(LoadingGift).show();
                },

                success: function (data) {

                    $(LoadingGift).hide();

                    console.log(data);

                    var str = "";



                    for (var i in data) {

                        str += '<div class="col-sm-6">';
                        str += '<img class="img-responsive" src="../images/' + data[i] + '"/>';
                        str += '</div>';


                    }
                    BodyShowPic.innerHTML = str;
                    $(ModalShowPic).modal('show');
                }
            });
        }

    </script>

    <script>
        function RegisterCopeReserve(Id, CustomerFullName, IdStore) {
            this.Id = Id;
            this.CustomerFullName = CustomerFullName;
            this.IdStore = IdStore;

        }
        var _RegisterCopeReserve = new RegisterCopeReserve(0, "", 0);
    </script>


    <script>
        var State = false;

        function BtnRegisterCopeReserve() {


            if (CustomerName.value == "" || SelectStore.value == 0) {
                AlertInAjax("تمامی اطلاعات را وارد نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");

                return;
            }

            else {
                if (State == false) {
                    State = true;


                    if ($(".CHechBox:checked").length == 0) {
                        State = false;

                        AlertInAjax("موردی را انتخاب نمایید", modalAlertInAjax, "alert-danger");
                        $(modalAlertInAjax).modal("show");

                        return;
                    } else {
                        _RegisterCopeReserve.CustomerFullName = CustomerName.value;
                        _RegisterCopeReserve.IdStore = SelectStore.value;

                        var DateLoad = dateLoad.value;

                        SelectedProp = {};
                        ListProps = [];
                        $(':checkbox:checked').each(function (i) {

                            var Id = $(this).val();

                            item = {};
                            item["Id"] = Id;

                            ListProps.push(item);
                        });
                        SelectedProp["ListProps"] = ListProps;

                        $.ajax({
                            url: '/RegisterCopeReserve/RegisterCopeReserve',
                            data: { cb: _RegisterCopeReserve, date: DateLoad, prop: SelectedProp },
                            type: 'post',
                            beforeSend: function () {
                                $(LoadingGift).show();
                            },

                            success: function (data) {
                                count = 0;
                                State = false;
                                $(LoadingGift).hide();

                                AlertInAjax("عملیات با موفقیت انجام شد", modalAlertInAjax, "alert-success");
                                $(modalAlertInAjax).modal("show");
                                setInterval(function () { $(modalAlertInAjax).modal("hide"); }, 2000);
                                $(modalAlertInAjax).on("hidden.bs.modal", function () {

                                    location.href = "/RegisterCopeReserve/Index";
                                });
                            }
                        });
                    }



                }

            }


        }
    </script>

    <script>



        function Add() {
            if (SelectStore.value == 0) {
                AlertInAjax("انباری را انتخاب نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");
                return;
            }
            else {

                if (CopCods.value == "") {
                    AlertInAjax("کدراوارد نمایید", modalAlertInAjax, "alert-danger");
                    $(modalAlertInAjax).modal("show");
                    return;
                }
                else {
                    var StoreId = SelectStore.value;
                    var productCode = CopCods.value;
                    $.ajax({
                        url: '/ExitOrder/getRecordEntry',
                        data: { StoreId: StoreId, productCode: productCode },
                        type: 'post',
                        beforeSend: function () {
                            $(LoadingGift).show();
                        },
                        error: function (data) {

                            $(LoadingGift).hide();
                            if (data.status == 520) {
                                AlertInAjax("انباری را انتخاب نمایید", modalAlertInAjax, "alert-danger");
                                $(modalAlertInAjax).modal("show");
                            }
                            if (data.status == 521) {
                                AlertInAjax("کدراوارد نمایید", modalAlertInAjax, "alert-danger");

                                $(modalAlertInAjax).modal("show");
                            }
                        },
                        success: function (data) {
                            $(LoadingGift).hide();

                            Filldata(data);
                        }
                    });
                }

            }
        }
    </script>


    <script>
        function AddWithModal() {
            if (SelectStore.value == 0) {
                AlertInAjax("انباری را انتخاب نمایید", modalAlertInAjax, "alert-danger");
                $(modalAlertInAjax).modal("show");
                return;
            }
            else {



                var StoreId = SelectStore.value;

                $.ajax({
                    url: '/ExitOrder/GetModalRecordEntry',
                    data: { StoreId: StoreId },
                    type: 'post',
                    beforeSend: function () {
                        $(LoadingGift).show();
                    },
                    error: function (data) {

                        $(LoadingGift).hide();
                        if (data.status == 520) {
                            AlertInAjax("انباری را انتخاب نمایید", modalAlertInAjax, "alert-danger");
                            $(modalAlertInAjax).modal("show");
                        }
                        if (data.status == 521) {
                            AlertInAjax("کدراوارد نمایید", modalAlertInAjax, "alert-danger");

                            $(modalAlertInAjax).modal("show");
                        }
                    },
                    success: function (data) {
                        $(LoadingGift).hide();

                        Filldata2(data);
                    }
                });


            }
        }
    </script>


    <script>
        function Filldata2(data) {

            var str = "";
            for (var i in data) {
                var r = parseInt(i) + 1;
                str += ' <tr id="trlistdataModalCop' + data[i].Id + '">';
                str += '<td >' + r + '</td>';
                str += '<td id="txtminename_' + data[i].Id + '">' + data[i].minename + '</td>';
                str += '<td id="txtcopname_' + data[i].Id + '">' + data[i].copname + '</td>';
                str += '<td id="txtDimensions_' + data[i].Id + '">' + data[i].Dimensions + '</td>';
                str += '<td>' + data[i].Weight + '</td>';
                str += '<td>' + data[i].CopsCod + '</td>';
                str += '<td></td>';
                str += '<td>' + data[i].Transfernumber + '</td>';
                str += '<td><input class="ChechBoxDataUl" id="' + data[i].Id + '" value="' + data[i].Id + '" type="checkbox"></td>';
                str += '</tr>';


            }
            listdataModalCop.innerHTML = str;


            $(modalSelectCop).modal('show');

        }
    </script>


    <script>
        function AddtoUlData() {
            var str = "";
            $('.ChechBoxDataUl:checked').each(function (i) {



                var Id = $(this).val();


                //var asdasddas = $("#txtcopname_" + Id).text();

                //alert(asdasddas);

                str += ' <li class="list-group-item rgExitLi" id="listcopdata' + Id + '">';
                str += ' <input type="checkbox" class="CHechBox" id="' + Id + '" value="' + Id + '" checked style="display:none">';
                str += ' <lable>' + $("#txtcopname_" + Id).text() + " " + $("#txtDimensions_" + Id).text() + " " + $("#txtminename_" + Id).text() + '</lable>';
                str += ' <button class="btn btn-danger fa fa-trash float-left" onclick="deletevalues(' + Id + ')"></button>';
                str += '</li>';

                $("#trlistdataModalCop" + Id).remove();

            });
            $("#listCopdata").append(str);
            // $(modalSelectCop).modal('hide');

        }
    </script>

    <script>
        function Filldata(data) {

            var str = "";
            for (var i in data) {
                str += ' <li class="list-group-item rgExitLi" id="listcopdata' + data[i].Id + '">';
                str += ' <input type="checkbox" class="CHechBox" id="' + data[i].Id + '" value="' + data[i].Id + '" checked style="display:none">';
                str += ' <lable>' + data[i].copname + " " + data[i].Dimensions + " " + data[i].minename + '</lable>';
                str += ' <button class="btn btn-danger fa fa-trash float-left" onclick="deletevalues(' + data[i].Id + ')"></button>';
                str += '</li>';
            }
            $("#listCopdata").append(str);


        }
    </script>

    <script>
        function deletevalues(id) {
            $("#listcopdata" + id).remove();
        }
    </script>



}