
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

    <div class="container dailyCol">
        <div class="row dailyRow">
            <div class="col dailyLDiv">
                <a class="btn btn-primary d-block dailyBtnTop" href="~/Home/Index" role="button">صفحه اصلی</a>
                <br>
                <label class="d-block dailyTitle">
                    فیلتر های | نوع کوپ | تعداد
                </label>
                <div class="table-responsive-sm">
                    <table class="table table-info table-striped dailyTable">
                        <tbody>
                            <tr>
                                <td>ردیف</td>
                                <td>نوع کوپ</td>
                                <td>تعداد</td>
                                <td>انبار</td>
                                <td>معدن</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>مرمریت</td>
                                <td>10</td>
                                <td>مشاهده</td>
                                <td>مشاهده</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>مرمریت</td>
                                <td>10</td>
                                <td>مشاهده</td>
                                <td>مشاهده</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary dailyBtnBottom">چاپ گزارش</button>
                <button class="btn btn-primary dailyBtnBottom2">خروجی اکسل</button>
            </div>
        </div>
    </div>
