
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
    <title> AccessDenied Page</title>
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />

    <link href="~/js/Resource/css/entypo.css" rel="stylesheet">
    <link href="~/js/Resource/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">
    <link href="~/js/Resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-core.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-forms.css" rel="stylesheet">
    <link href="~/js/Resource/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/js/Resource/css/mouldifi-rtl-core.css" rel="stylesheet">

</head>
<body class="page-error">
    <div class="page-error-container animatedParent animateOnce z-index-50">
        <div class="page-error-content animated growIn slower">
            <span  style="font-weight:bolder;font-size:20px">AccessDenied</span>
            <h4 class="text-center title">شما به این قسمت دسترسی ندارید!</h4>

            <p class="text-center"><a href="~/Home/Index" class="btn btn-primary"> صفحه اصلی</a></p>
        </div>
    </div>
    <script src="~/js/Resource/js/jquery.min.js"></script>
    <script src="~/js/Resource/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
</body>
</html>
