
@{
    ViewBag.Title = "تعاریف";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1 style="float:right">@ViewBag.Title</h1>

<div class="container defContainer">

    <div class="row rtlDir">
        <div class="col-2 margTop1">
            <a class="btn btn-info float-right" href="~/Home/Index" role="button">صفحه اصلی</a>
        </div>
    </div>
    
    <div class="row margTop10">
        <div class="col">
            <a class="btn btn-info indexLinks2" href="~/Cops/Index" role="button">انواع کوپ</a>
        </div>
        <div class="col">
            <a class="btn btn-info indexLinks2" href="~/mines/Index" role="button">مدیریت معادن</a>
        </div>
        <div class="col">
            <a class="btn btn-info indexLinks2" href="~/Stores/Index" role="button">مدیریت انبار ها</a>
        </div>

    </div>
</div>

