
@{
    Layout = null;
}

<!DOCTYPE html>



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">
    <title>ورود | Login</title>

    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />

    <link href="~/js/Resource/css/entypo.css" rel="stylesheet">

    <link href="~/js/Resource/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/js/Resource/css/plugins/css3-animate-it-plugin/animations.css" rel="stylesheet">

    <link href="~/js/Resource/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/js/Resource/css/mouldifi-core.css" rel="stylesheet">

    <link href="~/js/Resource/css/mouldifi-forms.css" rel="stylesheet">

    <link href="~/js/Resource/css/bootstrap-rtl.min.css" rel="stylesheet">

    <link href="~/js/Resource/css/mouldifi-rtl-core.css" rel="stylesheet">



</head>
<body class="login-page">
    <div class="login-pag-inner">
        <div class="animatedParent animateOnce z-index-50">
            <div class="login-container animated growIn slower">
                <div class="login-branding">
                    <a href="#">
                        <i class="fa fa-user" style="color:white;font-size:50px"></i>
                        

                    </a>
                </div>
                <div class="login-content">
                    <h2><strong>ورود</strong></h2>
                    <form action="/LogIn/Index"
                          method="post">
                        <div class="form-group">
                            <input type="text" placeholder="نام کاربری" autofocus name="UserName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="رمزعبور" name="Password" class="form-control" required>
                        </div>
                       


                        @if (ViewBag.WrongPassword != null)
                        {
                            <div class="form-group">

                                <label class="alert alert-danger">نام کاربری و یا رمز عبور اشتباه است</label>

                            </div>
                        }

                        <div class="form-group">
                            <button class="btn btn-primary btn-block"> ورود</button>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Resource/js/jquery.min.js"></script>
    <script src="~/js/Resource/js/plugins/css3-animate-it-plugin/css3-animate-it.js"></script>
    <script src="~/js/Resource/js/bootstrap.min.js"></script>
</body>
</html>
